@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Global styles */
* {
  font-family: 'Open Sans', sans-serif;
}

/* Proposal component styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  margin-bottom: 20px;
}

.form-container {
  background-color: #ffffff;
  padding: 50px;
  margin-top: 100px;
  border-radius: 25px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
  max-width: 700px;
  width: 600px;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-container button {
  align-self: flex-end; /* Align the button to the end of the flex container (form) */
  margin-right: 50px;
}

.form-container label {
  margin-right: 20px;
  margin-left: -80px;
  width: 100px;
  font-family: Open Sans, sans-serif;
  text-align: right;
}

.form-container input[type="text"],
.form-container textarea,
.form-container select {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #d9d9d9;
  width: calc(100% - 24px);
}

.form-container textarea {
  resize: vertical;
}

.stacked-fields > div {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  margin-left: -50px;
  width: 130%;
}

.form-container textarea#details {
  width: 450px;
}

.stacked-fields input[type="text"]#title {
  width: 450px;
}

.side-by-side-fields{
    width: 100%;
    margin-right: -200px;

}
.side-by-side-fields > div {
    display: inline-block;
    margin-right: 100px; /* Adjust the margin between the elements */
    vertical-align: top; /* Align elements to the top to prevent overlapping */

}
  
.side-by-side-fields label {
    display: inline-block;
    width: 100px; /* Set a fixed width for labels */
    margin-right: -20px; /* Adjust margin as needed */
}

.client-field {
    display: flex;
    align-items: center;
  }
  
  .client-field label {
    /* Optional: Adjust label styles */
    margin-right: -30px;
  }
  
  .client-field input[type="text"] {
    /* Optional: Adjust input styles */
    flex: 1; /* Allow the input to grow and fill available space */
    margin-right: -100px;
  }
  
  

.form-container button {
  padding: 12px 24px;
  background-color: #8d4242;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #673333;
}

.proposal-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: Open Sans, sans-serif;
}

/* Additional CSS for same-length class */
.same-length {
  width: calc(100% - 16px);
}

.container {
  position: relative;
}

.add-button {
  position: fixed;
  bottom: 50px;
  right: 60px;
  width: 75px;
  height: 75px;
  background-color: #8d4242;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.add-button:hover {
  background-color: #673333;
}

.submission-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 10px;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

@keyframes formEntrance {
  0% {
    opacity: 0;
    transform: scale(0.5); /* Start smaller */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Pop up to full size */
  }
}

.animated-form {
  animation: formEntrance 0.5s ease forwards;
  opacity: 0;
}
