@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: auto;
}

.background {
  background-image: url("../../assets/SignUp-LogIn/Background.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  margin: auto;
  width: 90%;
  height: 800px;
  border-radius: 50px;
  filter: drop-shadow(0px 0px 11px #616161);
  overflow: hidden;
  display: flex;
}

.cardLeft {
  width: 50%;
  overflow: hidden;
  /* background-color: blue; */
}

.cardLeft img {
  width: 100%;
}

.cardLeft .title {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  bottom: 70px;
  left: 70px;
}

.cardRight {
  width: 50%;
  text-align: center;
  /* background-color: green; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
}

.main h1 {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 35px 0 0 0;
}

.main p {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #979191;
}

.main .inputBox {
  position: relative;
  width: 50%;
  height: 7%;
  background-color: #eeeaea;
  margin-top: 20px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  border: 0.5px rgb(177, 176, 176) solid;
}

.main .inputBox img {
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-left: 10px;
}

.main .inputBox input {
  width: 350px;
  height: 45px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  border: none;
  background-color: #eeeaea;
  outline: none;
}

.button {
  background-color: #8d4242;
  width: 190px;
  padding: 15px 20px 15px 20px;
  margin-top: 60px;
  border: 2px solid transparent;
  border-radius: 30px;
  font-size: 22px;
  color: white;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: #e2e0e0;
  color: #8d4242;
  border: #8d4242 2px solid;
  transition: ease-in-out 0.15s;
}

.divider {
  margin: 20px 100px 20px 100px;
}

.divider h1 {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  color: #979191;
  font-weight: 400;
}
.divider h1:before,
.divider h1:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
}
.divider h1:before {
  margin-right: 30px;
}
.divider h1:after {
  margin-left: 30px;
}

.alt {
  margin: 0px;
  padding: 0px;
}

.alt .socMed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: gray;
  width: 40%;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
}

.alt .socMed img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.alt .socMed p {
  font-size: 20;
  margin: 0;
  padding: 0;
}

.errorIcon {
  margin-right: 5px;
}
